WorkspaceAnypoint/gestiondeeventos/src/main/app/gestiondeeventos.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <file:connector name="File" writeToDirectory="${fichero.archivados}" readFromDirectory="${fichero.entrada}" autoDelete="true" streaming="true" recursive="true" validateConnections="true" doc:name="File"/>

<flow name="lecturaexcelsFlow">
        <file:inbound-endpoint responseTimeout="10000" doc:name="File" connector-ref="File" path="${fichero.entrada}"/>
        <component class="usoExcels.ExtractorExcel" doc:name="Java"/>
        <logger message="#[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
