WorkspaceAnypoint/detectarpatrones/src/main/app/detectarpatrones.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd">
    
         <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
         <flow name="sample-fileFlow">
             <file:inbound-endpoint path="C:\Users\ferch\Documents\TFG\Tfg\WorkspaceAnypoint\detectarpatrones\patronesEPL" connector-ref="File" responseTimeout="10000" doc:name="File"/>
             <logger message="#[groovy:message.getPayloadAsString()]" level="INFO" doc:name="Logger"/>        
             <vm:outbound-endpoint exchange-pattern="one-way" path="tempQ" doc:name="VM"/>
             <logger message="sent to VM" level="INFO" doc:name="Logger"/>
         </flow>
</mule>
